.profile__caption {
    color: #FFFFFF;
    margin: 7px 0 0 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}

@media screen and (min-width: 1024px)  {
    .profile__caption {
        margin: 8px 0 0 0;
        text-align: start;
        font-size: 18px;
        line-height: 22px;
        max-width: 500px;
    }    
}