.elements__caption-box {
    margin: 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 26px;
    padding-bottom: 27px;
    justify-content: space-between;
}