.elements__caption-box {
    margin: 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 21px;
    padding-bottom: 31px;
    justify-content: space-between;
}