.popup__close-icon {
    align-self: flex-end;
    width: 20px;
    height: 20px;;
    margin: 0 0 0 auto;
}

@media screen and (min-width: 1024px)  {
    .popup__close-icon {
        width: 32px;
        height: 32px;
    }    
}

.popup__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}