.profile__avatar {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

@media screen and (min-width: 1024px)  {
    .profile__avatar {
        margin: 0;
    }    
}