@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

@import url("../blocks/page/page.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__heading/profile__heading.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__caption/profile__caption.css");
@import url("../blocks/profile/__batton-box/profile__batton-box.css");
@import url("../blocks/profile/__add-batton/profile__add-batton.css");

@import url("../blocks/elements/elements.css");
@import url("../blocks/elements/__element/elements__element.css");
@import url("../blocks/elements/__image/elements__image.css");
@import url("../blocks/elements/__caption-box/elements__caption-box.css");
@import url("../blocks/elements/__caption/elements__caption.css");
@import url("../blocks/elements/__heart/elements__heart.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_condition/popup_opened.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__icon-container/popup__icon-container.css");
@import url("../blocks/popup/__close-icon/popup__close-icon.css");
@import url("../blocks/popup/__header/popup__header.css");
@import url("../blocks/popup/__fieldbox/popup__fieldbox.css");
@import url("../blocks/popup/__field/popup__field.css");
@import url("../blocks/popup/__submit-button/popup__submit-button.css");