.popup__icon-container {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    left: 262px;;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    border: 0;
}

@media screen and (min-width: 1024px)  {
    .popup__icon-container {
        width: 32px;
        height: 32px;
        display: block;
        position: relative;
        left: 438px;
    }    
}