.elements__heart {
    width: 22px;
    height: 19px;
    margin: 0 20px 0 0;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    border: 0;
}

.elements__heart:hover {
    opacity: 0.5;
}