.popup__field {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
    width: 238px;
}

@media screen and (min-width: 1024px)  {
    .popup__field {
        width: 358px;
    }    
}

.popup__field:nth-child(n+2) {
    margin-top: 30px;
}